<%= provide(:title, "Location")%>
<%= content_for :header_text, flush: true do %>
  Add a Sublocation to this Location
<% end %>

<div class = form-custom>
  <%= form_with(url: "/locations/#{@location.id}/sublocations", local: true) do |f|%>
    <div class = 'form-div'>
      <%= f.collection_select :sublocation_id, @current_user.locations,:id,:name,{prompt: 'Select a sublocation'}%>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>