<%= provide(:title, "Item")%>
<h1>Edit Item</h1>

<%= form_with(model: @item, local: true) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form_control',  value: @item.name%>

  <%= f.label :description %>
  <%= f.text_field :description, class: 'form_control',  value: @item.description%>
  
  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>

