<% provide(:title, "Access Group")%>
<div class= "jumbotron jumbotron-fluid">
  Access group number: <%=@access_group.id%>
</div>
<div class= "jumbotron jumbotron-fluid">
  Parent Group ID: <%=@access_group.parent_id%>
</div>
<%# <div class= "jumbotron jumbotron-fluid">
  Locations: <%=@access_group.parent_id%>
  <%# <ol class= "locations">
    <%=render @locations%>
  <%# </ol> %>
  <%# <%= link_to "Add Locations", locations_path%>
<%# </div> %>