<% provide(:title, "Access Group")%>
<div class= "jumbotron jumbotron-fluid">
  Access group number: <%=@access_group.id%>
</div>
<div class= "jumbotron jumbotron-fluid">
  Parent Group ID: <%=@access_group.parent_id%>
</div>
<div class= "jumbotron jumbotron-fluid">
  <%=link_to "Locations", locations_access_group_path %>
</div>
<div class= "jumbotron jumbotron-fluid">
  <%=link_to "Items", items_access_group_path %>
</div>
<div class= "jumbotron jumbotron-fluid">
  <%=link_to "Users", users_access_group_path %>
</div>