<%= provide(:title, "Item")%>
<h1>Add to Location</h1>

<%= form_with(url: "/items/#{@item.id}/locations", local: true) do |f|%>
  <%= f.label :location_id%>
  <%= f.collection_select :location_id, @current_user.locations_with_visible_items,:id,:name %>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>
