<%= provide(:title, "Location")%>
<%= content_for :header_text, flush: true do %>
  Add Location to an AccessGroup
<% end %>

<div class = form-custom>
  <%= form_with(url: "/locations/#{@location.id}/access_groups", local: true) do |f|%>
    <div class = 'form-div'>
      <%= f.collection_select :access_group_id, @current_user.access_groups,:id,:name,{prompt: 'Select a group'}%>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>