<%= provide(:title, "Location")%>
<h1>Add this Location to an Access Group</h1>

<%= form_with(url: "/locations/#{@location.id}/access_groups", local: true) do |f|%>
  <%= f.label :access_group_id%>
  <%= f.collection_select :access_group_id, @current_user.access_groups,:id,:name %>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>