<%= provide(:title, "Create item")%>
<h1>New Item</h1>

<%= form_with(model: @item, local: true) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form_control'%>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>

