<%= provide(:title, "Access Group")%>
<h1>Add a User to this group.</h1>

<%= form_with(url: "/access_groups/#{@access_group.id}/users", local: true) do |f|%>
  <%= f.label :location_id%>
  <%= f.collection_select :location_id, @current_user.visible_users,:id,:name, include_blank: true %>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>