<%= content_for :header_text, flush: true do %>
  Add a User to Access Group:
  <%=@access_group.name%>
<% end %>

<div class = form-custom>
  <%= form_with(url: "/access_groups/#{@access_group.id}/users", local: true) do |f|%>
    <div class = 'form-div'>
      <%= f.collection_select :user_id, User.all,:id,:name, {prompt: 'Select a user to add'}%>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>