<% provide(:title, "Items")%>
<h1>Items in Access Group: <%= "#{@access_group.name}"%></h1>
<div>
  <%= link_to "Add an existing Item", new_access_group_item_path%>
</div>
<div>
  <%= link_to "Create a new Item", new_item_path%>
</div>
<ul>
  <h3> Without a location </h3>
  <% @locationless_items.each do |item|%>
    <%= render layout: '/items/items/item', :locals => {:item => item} do %>
      <% if @current_user.can_crud_item_access?(@access_group)%>
    |    <%= link_to "Remove Locationless Item From Group", access_group_item_path(@access_group, item), method: :delete,
                                    data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  <% end %>
  <h3> With at least one location </h3>
  <%@items_with_location.each do |item|%>
    <%= render layout: '/items/items/item', :locals => {:item => item} do %>
      |  <%= link_to "locations", item_locations_path(item)%>
    <% end %>
  <% end %>
</ul>
