<%= provide(:title, "Access Group")%>
<%= content_for :header_text, flush: true do %>
  Add Item to Access Group:
  <%=@access_group.name%>
<% end %>

<div class = form-custom>
  <%= form_with(url: "/access_groups/#{@access_group.id}/items", local: true) do |f|%>
    <div class = 'form-div'>
      <%= f.collection_select :item_id, @current_user.items,:id,:name,  {prompt: 'Select an item'} %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>