<% content_for :card_title, flush: true do %>
  <%= link_to access_group.name, access_group_path(access_group)%>
<% end %>
<% content_for :card_description, flush: true do %>
  <span class = "description-heading">Description:</span>
  <%= access_group.description%>
<% end %>
<% content_for :card_bottom_tray, flush: true do %>
  <ul>
    <li><%= yield :indexed_delete_button%></li>
    <li><%= link_to "Users", access_group_users_path(access_group)%></li>
    <li><%= link_to "Subgroups", access_group_subgroups_path(access_group)%></li>
    <li><%= link_to 'Locations', access_group_locations_path(access_group)%></li>
    <li><%= link_to "Items", access_group_items_path(access_group)%></li>


  <ul>
<% end %>
<%= render 'layouts/element_card'%>
