<% provide(:title, "Access Group")%>
<% provide(:header_text, "Access Group: #{@access_group.name}")%>
<% content_for :show_image, flush: true do %>
<% end %>
<% content_for :show_description, flush: true do %>
  <span class = "description-heading">Description:</span>
  <%= @access_group.description%>
<% end %>
<% content_for :show_links, flush: true do %>
  <li><%= link_to "Edit Group", edit_access_group_path(@access_group)%></li>
  <li><%= link_to "Delete Group", access_group_path, method: :delete%></li>
<% end %>

<% content_for :show_nav, flush: true do%>
  <a href= "#page-nav-subgroups">Subgroups</a>
  <a href= "#page-nav-locations">Locations</a>
  <a href= "#page-nav-items">Items</a>
<% end %>

<% content_for :show_body, flush: true do %>
  <div class = "show-category">
    <a id= "page-nav-subgroups">
    Subgroups
    <% @access_group.subgroups.each do |subgroup|%>
      <div class= 'show-instance'>
        <%= subgroup.name%>
      </div>
    <% end %>
  </div>
  <div class = "show-category">
    <a id= "page-nav-locations">
    locations
    <% @access_group.locations.each do |location|%>
      <div class= 'show-instance'>
        <%= location.name%>
      </div>
    <% end %>
  </div>
  <div class = "show-category">
    <a id= "page-nav-items">
    items
    <% @access_group.items.each do |item|%>
      <div class= 'show-instance'>
        <%= item.name%>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'layouts/show_template'%>