<%= provide(:title, "Create Location")%>
<h1>New Location</h1>

<%= form_with(model: @location, local: true) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form_control'%>

  <%= f.label :parent%>
  <% if @current_user.can_crud_root_location?%>
    <%= f.collection_select :parent, @parent_locations,:id,:name, include_blank: true %>
  <% else %>
    <%= f.collection_select :parent,@parent_locations,:id,:name %>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end%>