<header>
  <h1>StoreIt</h1>
  
  <nav class = "navbar navbar-fixed-top" >
    <ul class= "nav navbar-nav navbar-right">
      <% if logged_in?%>
        <li><%= link_to "Users", users_path%></li>
        <li><%= link_to "My Groups", access_groups_path%></li>
        <li><%= link_to "My Items", items_path%></li>
        <li><%= link_to "My Locations", locations_path%></li>
        <li><%= link_to "Account", @current_user%></li>
        <li><%= link_to "Log Out", logout_path, method: :delete%></li>
      <% else %>
        <li><%= link_to "Log In", login_path%></li>
      <% end %>
    </ul>
  </nav>
  
</header>
