<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/shim' %>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%# <%= render 'layouts/header'%>
    <div class= "container-fluid">
      <div class = "logo">
        <%= link_to "StoreIt", root_path%>
      </div>
      <%= render 'layouts/sidebar'%>
      <%= render 'layouts/header'%>
      <div class = 'main-body'>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>   
        <%= yield %>
      </div>
    </div>
  </body>
</html>
